body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita que aparezca barra de desplazamiento */
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* El fondo tiene el índice más bajo */
}

#defaultCanvas0 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* El canvas está por encima del fondo */
}
